.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-menu-container {
    padding: 20px;

}
.catalog-menu {
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.catalog-menu-drpdwn
{
    margin: 22px;
}