



.placeOrder-form input {
    min-width: 300px;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 30px;
}





.placeOrder {
    color: #63a91f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeOrder-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.02px;
    border-color: rgba(0, 0, 0, 0.05);
}


.placeOrder-button {
    margin-top: 20px;
    min-width: 300px;
    max-width: 500px;
    height: 50px;
    background-color: #63a91f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.placeOrder-button:hover{
    background-color: #498119;
}

.placeOrder-button:active{
    background-color: #3c6815;
}