.profile {
    display: flex;
    justify-content: space-around;
}
.profile-user h2 {
    text-align: center;
}
.profile-user b{
    color: #63a91f;
}
.profile-user ul {
    list-style: none;
}
.profile-menu {
    display: flex;
    flex-direction: column;
}
.profile-menu-button {
    margin-top: 20px;
    max-width: 100%;
    background-color: #63a91f;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;

}
.profile-menu-button link {
}
.profile-menu-button a {
    font-size: 16px;
    height: 50px;
    min-width: 150px;
    color: white;
}
.profile-menu-button:hover {
    background-color: #498119;
}
.profile-menu-button:active {
    background-color: #3c6815;
}
.profile-menu a{
    color: white;
}