.footer-container {
    padding: 20px 0;
    height: 20px;
    margin-top: -60px;
    background-color: white;
    -webkit-box-shadow: 0px 37px 41px 6px rgba(26,81,46,1);
    -moz-box-shadow: 0px 37px 41px 6px rgba(26,81,46,1);
    box-shadow: 0px 37px 41px 6px rgba(26,81,46,1);
}

.footer {
display: flex;
    align-items: center;
    justify-content: space-between;
}