.signup {
    color: #63a91f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.02px;
    border-color: rgba(0, 0, 0, 0.05);
}

.signup-form input {
    min-width: 300px;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.signup-button {
    margin-top: 20px;
    min-width: 150px;
    max-width: 100%;
    height: 50px;
    background-color: #63a91f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}