@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: black;
  font-weight: 300;
}
body a{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #1a512e;
  font-weight: 300;
  font-size: 16px;
}

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {

  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

a:hover {
  text-decoration: none; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left:  10px;
}