.signin {
    color: #63a91f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signin-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.02px;
    border-color: rgba(0, 0, 0, 0.05);
}

.signin-form input {
    min-width: 300px;
    max-width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.signin-signup-buttons {
    display: flex;
    justify-content: space-between;
}
.signin-button {
    min-width: 150px;
    max-width: 250px;
    height: 50px;
    background-color: #63a91f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.signin-signup-buttons a {
    margin-left: 20px;
    display: block;
    max-width: 250px;
    background-color: #63a91f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
}

