@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@font-face {
    font-family: 'Roboto', sans-serif;
}

a {
    font-size: 30px;
}

.header-container {
    height: 100px;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px -37px 41px 6px rgba(26,81,46,1);
    -moz-box-shadow: 0px -37px 41px 6px rgba(26,81,46,1);
    box-shadow: 0px -37px 41px 6px rgba(26,81,46,1);

}

.header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.header-logo {
    flex-grow: 0;
}
.header-logo a{

    font-size: 30px;
    display: flex;
    align-items: center;

    padding: 0 10px;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #63a91f;
}

.header-nav {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav a{
   font-weight: 400;
}

.header-nav-element {
    list-style: none;
    padding: 5px 20px;

}

.header-nav-element a:hover{
    color: #63a91f;

}

.header-nav-ico {
    list-style: none;
}

.header-nav-ico a img{
    padding: 2px 10px;
    list-style: none;
}

.header-nav-ico a:active img {
    padding-top: 2px;
    padding-bottom: 0;
}